@import '../../../assets/styles/mixins.scss';

.SheduleTimeLine {
    max-width: var(--time-line-width);
    @include flex-space-center();

    & > *:last-child {
        margin-left: var(--space-2xl);
    }

    &-Tabs {
        width: 100%;
        max-width: calc(100% - 64px);
    }

    & .TabsTab {
        text-transform: capitalize;
    }
}