@import '../../../assets/styles/mixins.scss';

.MenuLinks {
    width: 100%;
    padding: 0;
    position: relative;

    & .Icon, & .Text {
        transition: color 0.3s;
    }

    & > *:not(:last-child) {
        margin-bottom: var(--space-m);
    }

    &-LinkContainer {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        color: var(--color-typo-system);
    }

    &-SubMenu {
        height: var(--menu-link-height);
        overflow: hidden;
        transition: height 0.3s;

        &-Item {
            min-height: 40px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            box-sizing: border-box;
            text-decoration: none;
            cursor: pointer;
            padding-left: var(--space-xl);
            text-decoration: none;

            & .Text {
                color: var(--color-typo-system);
            }

            &:hover .Text, &_active .Text {
                color: #FFF;
            }
        }
    }

    &-LinkButton {
        & .Icon {
            transition: transform  0.3s;
        }

        &_active .Icon {
            transform: rotate(180deg);
        }
    }

    &-Link {
        width: 100%;
        @include flex-center();

        &_active {
            &, & *, & > .Text.Text_size_m {
                color: #FFF !important;
            } 
        }

        & .Icon, & .Text {
            transition: color 0.3s;
        }

        & {
           & .Text, & .Icon, & .Button {
            color: var(--color-typo-system);
           }
        }

        &:hover {
            &, & *, & .Text{
                color: #FFF;
            } 
        }

        &-Item {
            width: 100%;
            height: var(--space-xl);
            @include flex-center();
            justify-content: flex-start;
            text-decoration: none;

            & .Icon {
                margin-right: var(--space-xs);
            }
        }
    }

    &  .Text {
        overflow: hidden;
        white-space: nowrap;
        opacity: 1;
        transition: color 0.3s, opacity var(--menu-animate-delay), margin var(--menu-animate-delay), width var(--menu-animate-delay);
    }

    & .Icon {
        transition: color 0.3s, padding var(--menu-animate-delay), margin var(--menu-animate-delay);
    }

    &-Line {
        top: calc(var(--menu-line-top) - var(--space-2xs));
        left: calc(var(--menu-line-left) - var(--space-xl));
        width: var(--space-3xs);
        height: var(--space-2xl);
        background-color: #FFF;
        transition: opacity var(--menu-animate-delay), margin var(--menu-animate-delay);
        border-top-right-radius: var(--space-3xs);
        border-bottom-right-radius: var(--space-3xs);
        position: absolute;
        transition: top 0.3s, left var(--menu-animate-delay);
    }
}