@import '../../assets/styles/mixins.scss';

.Staff {
    &-Controls {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        & > *:not(:last-child) {
            margin-bottom: var(--space-xs);
        }
    }

    &-Inputs {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-Buttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-Input {
        width: 120px;
    }
}