@import '../../../assets/styles/mixins.scss';

.ChartDonut {
    &-Content {
        @include flex-space-center();
        align-items: flex-start;
        margin-top: 21px;
    }

    &-Legend {
        @include flex-start();
        flex-direction: column;
        margin-left: var(--space-xl);
        margin-right: var(--space-l);

        & > *:not(:last-child) {
            margin-bottom: var(--space-s);
        }

        &-Item {
            position: relative;
            padding-left: calc(var(--space-3xs) + var(--space-s));
            @include flex-start();
            align-items: center;

            &::after {
                position: absolute;
                left: 0;
                content: '';
                background: var(--legend-item-color);
                width: var(--space-xs);
                height: var(--space-xs);
                border-radius: 50%;
            }
        }
    }
}