@import '../../../assets/styles/mixins.scss';

.CarouselNotFound {
    @include flex-center();
    flex-direction: column;
    width: 100%;
    user-select: none;
    height: 100%;

    &-ImageContainer {
        width: 160px;
        height: 160px;
        @include flex-center();
        border-radius: 50%;
        background: var(--color-bg-stripe);
        margin-bottom: var(--space-xl);
    }
}