@import '../../../assets/styles/mixins.scss';

.CrudModalCreate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    & > *:not(:last-child) {
        margin-bottom: var(--space-m);
    }

    &-Buttons {
        width: 100%;
        margin-top: var(--space-m);
        display: flex;
        align-items: center;
        justify-content: flex-end;

        & > *:not(:last-child) {
            margin-right: var(--space-s);
        }
    }
}