@import '../../../assets/styles/mixins.scss';

.TimeTableHeader {
    &-Item {
        @include flex-start();
        flex-direction: column;
        box-sizing: border-box;
        text-transform: capitalize;

        & .Text {
            transition: color 0.3s;
        }

        &_mode {
            &_week.TimeTableRow-Item {
                padding: var(--space-xs) var(--space-l);
            }

            &_day.TimeTableRow-Item {
                padding: var(--space-l) var(--space-s);
            }
        }
    }
}