@import '../../../../assets/styles//mixins.scss';

.HeaderCalendar {
    @include flex-center();
    cursor: pointer;
    transition: background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease,
    color 0.15s ease, fill 0.15s ease;
    background: transparent;
    border: none;
    box-sizing: border-box;
    padding: var(--space-2xs);
    border-radius: var(--control-radius);

    &:hover {
        background-color: var(--color-control-bg-ghost-hover);
    }

    & .Icon {
        color: var(--color-control-typo-clear);
    }
    
    &-Date {
        margin-left: var(--space-xs);
    }

    &-Calendar {
        background: var(--color-bg-default);
        box-shadow: var(--shadow-layer);
        border-radius: var(--control-radius);
        padding: var(--space-xs);
        z-index: 1000;
    }
}