@import '../../../assets/styles/mixins.scss';

.TimeTableRow {
    min-height: var(--space-4xl);
    background: transparent;

    &:not(.TimeTableRow_last) .TimeTableRow-Item {
        border-bottom: 1px solid var(--color-control-bg-border-default);
    }

    & > div:not(:last-child):not(:first-child) {
        border-right: 1px solid var(--color-control-bg-border-default);
    }

    &-Item {
        cursor: pointer;
        height: 100%;
        box-sizing: border-box;
        background-color: transparent;
        transition: background-color 0.3s;

        &_hovered {
            background-color: var(--color-control-bg-ghost-hover);
        }
    }

    &-Time {
        background: var(--color-bg-stripe);
        padding-top: var(--space-xs);
        padding-right: var(--space-s);
        box-sizing: border-box;
    }
}