body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
span {
  margin: 0;
  padding: 0;
}

body,
#root,
.root {
  width: 100vw;
  min-height: 100vh;
}

div {
  transition: background-color 0.3s;
}

#root {
  --menu-animate-delay: 0.5s;
}

.Modal {
  z-index: 1000;
}
